<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <!---
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
  -->

  <div style="display: flex;justify-content: center;">
    <button > <a style="font-size: 20px;text-decoration: none;color:black"  target="_blank"  href=" https://www.surveymonkey.com/r/LinkageMapper2021">User Survey</a></button>
    <button style="margin-left:10px"> <a style="font-size: 20px;text-decoration: none;color:black" target="_blank"  href=" https://donorbox.org/linkage-mapper">Donate</a></button>
    <button style="margin-left:10px"> <a style="font-size: 20px;text-decoration: none;color:black" target="_blank"  href="https://mailchi.mp/dec0c5cf084d/linkagemapper1?e=67ba4eafbf">Newsletter</a></button>

  </div>

</footer>
